<!DOCTYPE html>
<head>
	<title>Begin Angular.js</title>
	<link href="bootstrap.css" rel="stylesheet" type="text/css">
	<script src="jquery-1.10.2.js"></script>
	<script src="angular.js"></script>
	<script src="bootstrap.js"></script>
	<script src="app.js"></script>
	<script src="maincontroller.js"></script>
</head>
<body>
	<div id='content' ng-app='begin-angular' ng-controller='MainController'>
		
		<div class="row">
			<div class="col-lg-6">
				<h3>Select person to see their music</h3>
				<!-- select tags populated differently for demonstrative purposes -->
				<select ng-model='selectedPerson' ng-options='obj.name for obj in people'></select>
			
				<select ng-model='selectedGenre'>
					<!-- people[selectedPerson.id].music is only working as the people ID#s are the same as the array indexes -->
					<option ng-repeat='label in people[selectedPerson.id].music'>{{label}}</option>
				</select>
			</div>
		
		
		
			<div class="col-lg-6">
			<label for="search">Search</label>
			<input name="search" type='text' ng-model='searchText' />
			<h4>live</h4>
			<ul>
				<li ng-repeat='person in people | filter:searchText' ng-show='person.live == true'>#{{person.id}} {{person.name}}</li>
			</ul>
			<h4>not live</h4>
			<ul>
				<li ng-repeat='person in people | filter:searchText' ng-hide='person.live == true'>#{{person.id}} {{person.name}}</li>
			</ul>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<label for="new">Add a person</label>
				<input name="new" type='text' ng-model='newPerson' />
				<button class="btn btn-default" ng-click='addNew()'>Add</button>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h4>random shit</h4>
				{{understand}}
				<input type='text' ng-model='inputValue' />
				{{inputValue}}
			</div>
		</div>
	</div>
</body>
</html>
